banhang24/Connected Services/VMGAPI/VMGAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AdsSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdns" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdsSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdsSendSmsResult" type="tns:ApiAdsReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiAdsReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error_detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prog_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="detail" type="tns:ArrayOfAPIAdsSendMT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAPIAdsSendMT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="APIAdsSendMT" nillable="true" type="tns:APIAdsSendMT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="APIAdsSendMT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="telco" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error_detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prog_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="total_sub" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="total_sms" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdsGPCSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdsGPCSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdsGPCSendSmsResult" type="tns:ApiBulkReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiBulkReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error_detail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="messageId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BulkSendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkSendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkSendSmsResult" type="tns:ApiBulkReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkSendSmsWithRequestId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkSendSmsWithRequestIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkSendSmsWithRequestIdResult" type="tns:ApiBulkReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkMessageBlockReciver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msisdns" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkMessageBlockReciverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BulkMessageBlockReciverResult" type="tns:ApiBulkBlockReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiBulkBlockReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error_detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="progCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="blackList" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doublicNumbers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="wrongNumbers" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="detail" type="tns:ArrayOfMsisdnInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMsisdnInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="msisdnInfo" nillable="true" type="tns:msisdnInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="msisdnInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="msisdn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="messageid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticateUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authenticatePass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBalanceResult" type="tns:BalanceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BalanceInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error_detail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ApiAdsReturn" nillable="true" type="tns:ApiAdsReturn" />
      <s:element name="ApiBulkReturn" nillable="true" type="tns:ApiBulkReturn" />
      <s:element name="ApiBulkBlockReturn" nillable="true" type="tns:ApiBulkBlockReturn" />
      <s:element name="BalanceInfo" nillable="true" type="tns:BalanceInfo" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AdsSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:AdsSendSms" />
  </wsdl:message>
  <wsdl:message name="AdsSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:AdsSendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="AdsGPCSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:AdsGPCSendSms" />
  </wsdl:message>
  <wsdl:message name="AdsGPCSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:AdsGPCSendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:BulkSendSms" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:BulkSendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsWithRequestIdSoapIn">
    <wsdl:part name="parameters" element="tns:BulkSendSmsWithRequestId" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsWithRequestIdSoapOut">
    <wsdl:part name="parameters" element="tns:BulkSendSmsWithRequestIdResponse" />
  </wsdl:message>
  <wsdl:message name="BulkMessageBlockReciverSoapIn">
    <wsdl:part name="parameters" element="tns:BulkMessageBlockReciver" />
  </wsdl:message>
  <wsdl:message name="BulkMessageBlockReciverSoapOut">
    <wsdl:part name="parameters" element="tns:BulkMessageBlockReciverResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="AdsSendSmsHttpGetIn">
    <wsdl:part name="msisdns" type="s1:StringArray" />
    <wsdl:part name="alias" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="sendTime" type="s:string" />
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdsSendSmsHttpGetOut">
    <wsdl:part name="Body" element="tns:ApiAdsReturn" />
  </wsdl:message>
  <wsdl:message name="AdsGPCSendSmsHttpGetIn">
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="alias" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="sendTime" type="s:string" />
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AdsGPCSendSmsHttpGetOut">
    <wsdl:part name="Body" element="tns:ApiBulkReturn" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsHttpGetIn">
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="alias" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="sendTime" type="s:string" />
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsHttpGetOut">
    <wsdl:part name="Body" element="tns:ApiBulkReturn" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsWithRequestIdHttpGetIn">
    <wsdl:part name="requestId" type="s:string" />
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="alias" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="sendTime" type="s:string" />
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BulkSendSmsWithRequestIdHttpGetOut">
    <wsdl:part name="Body" element="tns:ApiBulkReturn" />
  </wsdl:message>
  <wsdl:message name="BulkMessageBlockReciverHttpGetIn">
    <wsdl:part name="msisdns" type="s1:StringArray" />
    <wsdl:part name="alias" type="s:string" />
    <wsdl:part name="message" type="s:string" />
    <wsdl:part name="sendTime" type="s:string" />
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BulkMessageBlockReciverHttpGetOut">
    <wsdl:part name="Body" element="tns:ApiBulkBlockReturn" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetIn">
    <wsdl:part name="authenticateUser" type="s:string" />
    <wsdl:part name="authenticatePass" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:BalanceInfo" />
  </wsdl:message>
  <wsdl:portType name="VMGAPISoap">
    <wsdl:operation name="AdsSendSms">
      <wsdl:input message="tns:AdsSendSmsSoapIn" />
      <wsdl:output message="tns:AdsSendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdsGPCSendSms">
      <wsdl:input message="tns:AdsGPCSendSmsSoapIn" />
      <wsdl:output message="tns:AdsGPCSendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkSendSms">
      <wsdl:input message="tns:BulkSendSmsSoapIn" />
      <wsdl:output message="tns:BulkSendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkSendSmsWithRequestId">
      <wsdl:input message="tns:BulkSendSmsWithRequestIdSoapIn" />
      <wsdl:output message="tns:BulkSendSmsWithRequestIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkMessageBlockReciver">
      <wsdl:input message="tns:BulkMessageBlockReciverSoapIn" />
      <wsdl:output message="tns:BulkMessageBlockReciverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceSoapIn" />
      <wsdl:output message="tns:getBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VMGAPIHttpGet">
    <wsdl:operation name="AdsSendSms">
      <wsdl:input message="tns:AdsSendSmsHttpGetIn" />
      <wsdl:output message="tns:AdsSendSmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AdsGPCSendSms">
      <wsdl:input message="tns:AdsGPCSendSmsHttpGetIn" />
      <wsdl:output message="tns:AdsGPCSendSmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkSendSms">
      <wsdl:input message="tns:BulkSendSmsHttpGetIn" />
      <wsdl:output message="tns:BulkSendSmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkSendSmsWithRequestId">
      <wsdl:input message="tns:BulkSendSmsWithRequestIdHttpGetIn" />
      <wsdl:output message="tns:BulkSendSmsWithRequestIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkMessageBlockReciver">
      <wsdl:input message="tns:BulkMessageBlockReciverHttpGetIn" />
      <wsdl:output message="tns:BulkMessageBlockReciverHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:input message="tns:getBalanceHttpGetIn" />
      <wsdl:output message="tns:getBalanceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VMGAPISoap" type="tns:VMGAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdsSendSms">
      <soap:operation soapAction="http://tempuri.org/AdsSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdsGPCSendSms">
      <soap:operation soapAction="http://tempuri.org/AdsGPCSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSms">
      <soap:operation soapAction="http://tempuri.org/BulkSendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSmsWithRequestId">
      <soap:operation soapAction="http://tempuri.org/BulkSendSmsWithRequestId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkMessageBlockReciver">
      <soap:operation soapAction="http://tempuri.org/BulkMessageBlockReciver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VMGAPISoap12" type="tns:VMGAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdsSendSms">
      <soap12:operation soapAction="http://tempuri.org/AdsSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdsGPCSendSms">
      <soap12:operation soapAction="http://tempuri.org/AdsGPCSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSms">
      <soap12:operation soapAction="http://tempuri.org/BulkSendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSmsWithRequestId">
      <soap12:operation soapAction="http://tempuri.org/BulkSendSmsWithRequestId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkMessageBlockReciver">
      <soap12:operation soapAction="http://tempuri.org/BulkMessageBlockReciver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="http://tempuri.org/getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VMGAPIHttpGet" type="tns:VMGAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="AdsSendSms">
      <http:operation location="/AdsSendSms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdsGPCSendSms">
      <http:operation location="/AdsGPCSendSms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSms">
      <http:operation location="/BulkSendSms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkSendSmsWithRequestId">
      <http:operation location="/BulkSendSmsWithRequestId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkMessageBlockReciver">
      <http:operation location="/BulkMessageBlockReciver" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="/getBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VMGAPI">
    <wsdl:port name="VMGAPISoap" binding="tns:VMGAPISoap">
      <soap:address location="http://brandsms.vn:8018/VMGAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="VMGAPISoap12" binding="tns:VMGAPISoap12">
      <soap12:address location="http://brandsms.vn:8018/VMGAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="VMGAPIHttpGet" binding="tns:VMGAPIHttpGet">
      <http:address location="http://brandsms.vn:8018/VMGAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>